/* Put your css in here */

.wid_name {
  vertical-align: middle !important;
}

label[for="ed_name"],label[for="ed_number"] {
  text-align: left !important;
  width: 130px;
  display: inline-block;
  margin-left: 0;
}

#ed_name, #ed_number {
  width: 70%;
  display: inline-block;
}

#ed_table td{
  vertical-align: middle !important;
}

#cancel, #save {
  margin: 5px;
}

.ed_num {
  width: 32px;
}

.ed_btn_minus {
  width: 34px;
}

.modal-dialog {
  width: 300px;
}